
GridSearches/Data/Botswana.mat
GridSearches/Data/Botswana_gt.mat
GridSearches/Data/KSCFull.mat
GridSearches/Data/KSCSubset.mat
GridSearches/Data/Pavia.mat
GridSearches/Data/Pavia_gt.mat
GridSearches/Data/syntheticHSI5050.mat
GridSearches/Data/syntheticHSI6040.mat
GridSearches/Results/byAlgorithm/DVIS/salinasATesting/DVISResultsSalinasACorrectedATGP.mat
GridSearches/Results/byAlgorithm/DVIS/salinasATesting/DVISResultsSalinasACorrectedAVMAX.mat
GridSearches/Results/byAlgorithm/DVIS/salinasATesting/DVISResultsSalinasACorrectedAVMAXWithVCA.mat
GridSearches/Results/byAlgorithm/DVIS/salinasATesting/DVISResultsSalinasACorrectedMVC_NMF.mat
GridSearches/Results/byAlgorithm/DVIS/salinasATesting/DVISResultsSalinasACorrectedN_FINDR.mat
GridSearches/Results/byAlgorithm/DVIS/salinasATesting/DVISResultsSalinasACorrectedPLM.mat
GridSearches/Results/byAlgorithm/DVIS/salinasATesting/DVISResultsSalinasACorrectedPPI.mat
GridSearches/Results/byAlgorithm/DVIS/salinasATesting/DVISResultsSalinasACorrectedSGA.mat
GridSearches/Results/byAlgorithm/DVIS/salinasATesting/DVISResultsSalinasACorrectedVCA.mat
GridSearches/Results/byAlgorithm/DVIS/VCA/DVISResultsJasperRidge.mat
GridSearches/Results/byAlgorithm/GMM/GMMClusteringIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/GMM/GMMClusteringJasperRidge.mat
GridSearches/Results/byAlgorithm/GMM/GMMClusteringPaviaU.mat
GridSearches/Results/byAlgorithm/GMM/GMMClusteringSalinasACorrectedVCA.mat
GridSearches/Results/byAlgorithm/GMM/GMMClusteringSalinasCorrected.mat
GridSearches/Results/byAlgorithm/GMM/GMMPerformances.mat
GridSearches/Results/byAlgorithm/GMM/GMMResultsIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/GMM/GMMResultsJasperRidge.mat
GridSearches/Results/byAlgorithm/GMM/GMMResultsPaviaU.mat
GridSearches/Results/byAlgorithm/GMM/GMMResultsSalinasACorrected.mat
GridSearches/Results/byAlgorithm/GMM/GMMResultsSalinasCorrected.mat
GridSearches/Results/byAlgorithm/GMM/IndianPinesCorrectedGMM.mat
GridSearches/Results/byAlgorithm/GMM/JasperRidgeGMM.mat
GridSearches/Results/byAlgorithm/GMM/PaviaUGMM.mat
GridSearches/Results/byAlgorithm/GMM/SalinasACorrectedGMM.mat
GridSearches/Results/byAlgorithm/GMM/SalinasCorrectedGMM.mat
GridSearches/Results/byAlgorithm/H2NMF/H2NMFClusteringIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/H2NMF/H2NMFClusteringJasperRidge.mat
GridSearches/Results/byAlgorithm/H2NMF/H2NMFClusteringPaviaU.mat
GridSearches/Results/byAlgorithm/H2NMF/H2NMFClusteringSalinasACorrected.mat
GridSearches/Results/byAlgorithm/H2NMF/H2NMFClusteringSalinasCorrected.mat
GridSearches/Results/byAlgorithm/H2NMF/H2NMFPerformances.mat
GridSearches/Results/byAlgorithm/H2NMF/H2NMFResultsIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/H2NMF/H2NMFResultsJasperRidge.mat
GridSearches/Results/byAlgorithm/H2NMF/H2NMFResultsPaviaU.mat
GridSearches/Results/byAlgorithm/H2NMF/H2NMFResultsSalinasACorrected.mat
GridSearches/Results/byAlgorithm/H2NMF/H2NMFResultsSalinasCorrected.mat
GridSearches/Results/byAlgorithm/H2NMF/IndianPinesCorrectedH2NMF.mat
GridSearches/Results/byAlgorithm/H2NMF/JasperRidgeH2NMF.mat
GridSearches/Results/byAlgorithm/H2NMF/PaviaUH2NMF.mat
GridSearches/Results/byAlgorithm/H2NMF/SalinasACorrectedH2NMF.mat
GridSearches/Results/byAlgorithm/H2NMF/SalinasCorrectedH2NMF.mat
GridSearches/Results/byAlgorithm/KMeans/IndianPinesCorrectedKMeans.mat
GridSearches/Results/byAlgorithm/KMeans/JasperRidgeKMeans.mat
GridSearches/Results/byAlgorithm/KMeans/KMeansClusteringIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/KMeans/KMeansClusteringJasperRidge.mat
GridSearches/Results/byAlgorithm/KMeans/KMeansClusteringPaviaU.mat
GridSearches/Results/byAlgorithm/KMeans/KMeansClusteringSalinasACorrected.mat
GridSearches/Results/byAlgorithm/KMeans/KMeansClusteringSalinasCorrected.mat
GridSearches/Results/byAlgorithm/KMeans/KMeansPerformances.mat
GridSearches/Results/byAlgorithm/KMeans/KMeansResultsIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/KMeans/KMeansResultsJasperRidge.mat
GridSearches/Results/byAlgorithm/KMeans/KMeansResultsPaviaU.mat
GridSearches/Results/byAlgorithm/KMeans/KMeansResultsSalinasACorrected.mat
GridSearches/Results/byAlgorithm/KMeans/KMeansResultsSalinasCorrected.mat
GridSearches/Results/byAlgorithm/KMeans/PaviaUKMeans.mat
GridSearches/Results/byAlgorithm/KMeans/SalinasACorrectedKMeans.mat
GridSearches/Results/byAlgorithm/KMeans/SalinasCorrectedKMeans.mat
GridSearches/Results/byAlgorithm/KMeansPCA/IndianPinesCorrectedKMeansPCA.mat
GridSearches/Results/byAlgorithm/KMeansPCA/JasperRidgeKMeansPCA.mat
GridSearches/Results/byAlgorithm/KMeansPCA/KMeansPCAClusteringIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/KMeansPCA/KMeansPCAClusteringJasperRidge.mat
GridSearches/Results/byAlgorithm/KMeansPCA/KMeansPCAClusteringPaviaU.mat
GridSearches/Results/byAlgorithm/KMeansPCA/KMeansPCAClusteringSalinasACorrected.mat
GridSearches/Results/byAlgorithm/KMeansPCA/KMeansPCAClusteringSalinasCorrected.mat
GridSearches/Results/byAlgorithm/KMeansPCA/KMeansPCAPerformances.mat
GridSearches/Results/byAlgorithm/KMeansPCA/KMeansPCAResultsIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/KMeansPCA/KMeansPCAResultsJasperRidge.mat
GridSearches/Results/byAlgorithm/KMeansPCA/KMeansPCAResultsPaviaU.mat
GridSearches/Results/byAlgorithm/KMeansPCA/KMeansPCAResultsSalinasACorrected.mat
GridSearches/Results/byAlgorithm/KMeansPCA/KMeansPCAResultsSalinasCorrected.mat
GridSearches/Results/byAlgorithm/KMeansPCA/PaviaUKMeansPCA.mat
GridSearches/Results/byAlgorithm/KMeansPCA/SalinasACorrectedKMeansPCA.mat
GridSearches/Results/byAlgorithm/KMeansPCA/SalinasCorrectedKMeansPCA.mat
GridSearches/Results/byAlgorithm/KNNSSC/IndianPinesCorrectedKNNSSC.mat
GridSearches/Results/byAlgorithm/KNNSSC/JasperRidgeKNNSSC.mat
GridSearches/Results/byAlgorithm/KNNSSC/KNNSSCClusteringIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/KNNSSC/KNNSSCClusteringJasperRidge.mat
GridSearches/Results/byAlgorithm/KNNSSC/KNNSSCClusteringSalinasACorrected.mat
GridSearches/Results/byAlgorithm/KNNSSC/KNNSSCPerformances.mat
GridSearches/Results/byAlgorithm/KNNSSC/KNNSSCResultsIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/KNNSSC/KNNSSCResultsJasperRidge.mat
GridSearches/Results/byAlgorithm/KNNSSC/KNNSSCResultsSalinasACorrected.mat
GridSearches/Results/byAlgorithm/KNNSSC/SalinasACorrectedKNNSSC.mat
GridSearches/Results/byAlgorithm/LUND/IndianPinesCorrectedLUND.mat
GridSearches/Results/byAlgorithm/LUND/JasperRidgeLUND.mat
GridSearches/Results/byAlgorithm/LUND/LUNDClusteringIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/LUND/LUNDClusteringJasperRidge.mat
GridSearches/Results/byAlgorithm/LUND/LUNDClusteringPaviaU.mat
GridSearches/Results/byAlgorithm/LUND/LUNDClusteringSalinasACorrected.mat
GridSearches/Results/byAlgorithm/LUND/LUNDClusteringSalinasCorrected.mat
GridSearches/Results/byAlgorithm/LUND/LUNDPerformances.mat
GridSearches/Results/byAlgorithm/LUND/LUNDResultsBotswana.mat
GridSearches/Results/byAlgorithm/LUND/LUNDResultsIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/LUND/LUNDResultsJasperRidge.mat
GridSearches/Results/byAlgorithm/LUND/LUNDResultsKSCSubset.mat
GridSearches/Results/byAlgorithm/LUND/LUNDResultsPaviaCenterSubset1.mat
GridSearches/Results/byAlgorithm/LUND/LUNDResultsPaviaSubset1.mat
GridSearches/Results/byAlgorithm/LUND/LUNDResultsPaviaSubset2.mat
GridSearches/Results/byAlgorithm/LUND/LUNDResultsPaviaU.mat
GridSearches/Results/byAlgorithm/LUND/LUNDResultsSalinasACorrected.mat
GridSearches/Results/byAlgorithm/LUND/LUNDResultsSalinasCorrected.mat
GridSearches/Results/byAlgorithm/LUND/PaviaULUND.mat
GridSearches/Results/byAlgorithm/LUND/SalinasACorrectedLUND.mat
GridSearches/Results/byAlgorithm/LUND/SalinasCorrectedLUND.mat
GridSearches/Results/byAlgorithm/Madingley/MadingleyResultsAsh200.mat
GridSearches/Results/byAlgorithm/SC/IndianPinesCorrectedSC.mat
GridSearches/Results/byAlgorithm/SC/JasperRidgeSC.mat
GridSearches/Results/byAlgorithm/SC/PaviaUSC.mat
GridSearches/Results/byAlgorithm/SC/SalinasACorrectedSC.mat
GridSearches/Results/byAlgorithm/SC/SalinasCorrectedSC.mat
GridSearches/Results/byAlgorithm/SC/SCClusteringIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/SC/SCClusteringJasperRidge.mat
GridSearches/Results/byAlgorithm/SC/SCClusteringPaviaU.mat
GridSearches/Results/byAlgorithm/SC/SCClusteringSalinasACorrected.mat
GridSearches/Results/byAlgorithm/SC/SCClusteringSalinasCorrected.mat
GridSearches/Results/byAlgorithm/SC/SCPerformances.mat
GridSearches/Results/byAlgorithm/SC/SCResultsIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/SC/SCResultsJasperRidge.mat
GridSearches/Results/byAlgorithm/SC/SCResultsPaviaU.mat
GridSearches/Results/byAlgorithm/SC/SCResultsSalinasACorrected.mat
GridSearches/Results/byAlgorithm/SC/SCResultsSalinasCorrected.mat
GridSearches/Results/byAlgorithm/SymNMF/IndianPinesCorrectedSymNMF.mat
GridSearches/Results/byAlgorithm/SymNMF/JasperRidgeSymNMF.mat
GridSearches/Results/byAlgorithm/SymNMF/PaviaUSymNMF.mat
GridSearches/Results/byAlgorithm/SymNMF/SalinasACorrectedSymNMF.mat
GridSearches/Results/byAlgorithm/SymNMF/SalinasCorrectedSymNMF.mat
GridSearches/Results/byAlgorithm/SymNMF/SymNMFClusteringIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/SymNMF/SymNMFClusteringJasperRidge.mat
GridSearches/Results/byAlgorithm/SymNMF/SymNMFClusteringPaviaU.mat
GridSearches/Results/byAlgorithm/SymNMF/SymNMFClusteringSalinasACorrected.mat
GridSearches/Results/byAlgorithm/SymNMF/SymNMFClusteringSalinasCorrected.mat
GridSearches/Results/byAlgorithm/SymNMF/SymNMFPerformances.mat
GridSearches/Results/byAlgorithm/SymNMF/SymNMFResultsIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/SymNMF/SymNMFResultsJasperRidge.mat
GridSearches/Results/byAlgorithm/SymNMF/SymNMFResultsPaviaU.mat
GridSearches/Results/byAlgorithm/SymNMF/SymNMFResultsSalinasACorrected.mat
GridSearches/Results/byAlgorithm/SymNMF/SymNMFResultsSalinasCorrected.mat
GridSearches/Results/resultsunused/unusedSynthetic/Random Endmembers/syntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Random Endmembers/SymNMFResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Random Endmembers/SCResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Random Endmembers/LUNDResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Random Endmembers/KNNSSCResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Random Endmembers/KMeansResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Random Endmembers/KMeansPCAResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Random Endmembers/H2NMFResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Random Endmembers/GMMResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Random Endmembers/DVISResultssyntheticHSI5149StretchedManyAVMAX.mat
GridSearches/Results/resultsunused/unusedSynthetic/Random Endmembers/DBSCANResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal, Stretched Endmembers/syntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal, Stretched Endmembers/SymNMFResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal, Stretched Endmembers/SCResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal, Stretched Endmembers/LUNDResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal, Stretched Endmembers/KNNSSCResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal, Stretched Endmembers/KMeansResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal, Stretched Endmembers/KMeansPCAResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal, Stretched Endmembers/H2NMFResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal, Stretched Endmembers/GMMResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal, Stretched Endmembers/DVISResultssyntheticHSI5149StretchedManyAVMAX.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal, Stretched Endmembers/DBSCANResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers/syntheticHSI5149.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers/SymNMFResultssyntheticHSI5149.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers/SCResultssyntheticHSI5149.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers/LUNDResultssyntheticHSI5149.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers/KNNSSCResultssyntheticHSI5149.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers/KMeansResultssyntheticHSI5149.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers/KMeansPCAResultssyntheticHSI5149.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers/H2NMFResultssyntheticHSI5149.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers/GMMResultssyntheticHSI5149.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers/DVISResultssyntheticHSI5149ManyAVMAX.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers/DBSCANResultssyntheticHSI5149.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers with Noise/syntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers with Noise/SymNMFResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers with Noise/SCResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers with Noise/LUNDResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers with Noise/KMeansResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers with Noise/KMeansPCAResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers with Noise/H2NMFResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers with Noise/GMMResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers with Noise/DVISResultssyntheticHSI5149StretchedManyAVMAX.mat
GridSearches/Results/resultsunused/unusedSynthetic/Orthonormal Endmembers with Noise/DBSCANResultssyntheticHSI5149Stretched.mat
GridSearches/Results/resultsunused/LUNDResultsPaviaSubset2.mat
GridSearches/Results/resultsunused/LUNDResultsPaviaSubset1.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAXNormalized/DVISResultsSalinasACorrectedManyAVMAXNormalizedPart2.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAXNormalized/DVISResultsPaviaUManyAVMAXNormalizedPart.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAXNormalized/DVISResultsPaviaSubset1ManyAVMAXNormalizedPart2.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAXNormalized/DVISResultsPaviaCenterSubset1ManyAVMAXNormalizedPart2.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAXNormalized/DVISResultsKSCSubsetManyAVMAXNormalizedPart2.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAXNormalized/DVISResultsKSCSubsetManyAVMAXNormalizedPart1.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAXNormalized/DVISResultsJasperRidgeManyAVMAXNormalized.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAXNormalized/DVISResultsIndianPinesCorrectedManyAVMAXNormalized.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAX/DVISResultsSalinasACorrectedManyAVMAX.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAX/DVISResultsPaviaCenterSubset2ManyAVMAX.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAX/DVISResultsPaviaCenterSubset1ManyAVMAX.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAX/DVISResultsKSCSubsetManyAVMAX.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAX/DVISResultsJasperRidgeManyAVMAX.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAX/DVISResultsIndianPinesCorrectedManyAVMAX.mat
GridSearches/Results/byAlgorithm/DVIS/ManyAVMAX/DVISResultsBotswanaManyAVMAX.mat
GridSearches/Results/byAlgorithm/DBSCAN/SalinasCorrectedDBSCAN.mat
GridSearches/Results/byAlgorithm/DBSCAN/SalinasACorrectedDBSCAN.mat
GridSearches/Results/byAlgorithm/DBSCAN/PaviaUDBSCAN.mat
GridSearches/Results/byAlgorithm/DBSCAN/JasperRidgeDBSCAN.mat
GridSearches/Results/byAlgorithm/DBSCAN/IndianPinesCorrectedDBSCAN.mat
GridSearches/Results/byAlgorithm/DBSCAN/DBSCANResultsSalinasCorrected.mat
GridSearches/Results/byAlgorithm/DBSCAN/DBSCANResultsSalinasACorrected.mat
GridSearches/Results/byAlgorithm/DBSCAN/DBSCANResultsPaviaU.mat
GridSearches/Results/byAlgorithm/DBSCAN/DBSCANResultsJasperRidge.mat
GridSearches/Results/byAlgorithm/DBSCAN/DBSCANResultsIndianPinesCorrected.mat
GridSearches/Results/byAlgorithm/DBSCAN/DBSCANPerformances.mat
GridSearches/Results/byAlgorithm/DBSCAN/DBSCANClusteringSalinasCorrected.mat
GridSearches/Results/byAlgorithm/DBSCAN/DBSCANClusteringSalinasACorrected.mat
GridSearches/Results/byAlgorithm/DBSCAN/DBSCANClusteringPaviaU.mat
GridSearches/Results/byAlgorithm/DBSCAN/DBSCANClusteringJasperRidge.mat
GridSearches/Results/byAlgorithm/DBSCAN/DBSCANClusteringIndianPinesCorrected.mat
*.mat
*.eps
